.modal {
    position: fixed;
    top: 100%;
    transition: all .5s ease;

    &.active {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        background-color: $color-modal-background;
        z-index: 100;
        border-radius: 20px;
        margin: 0 auto;
    }


    &.modal-small {
        left: -500%;

        &.active-mini {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 60vh;
            width: 70vw;
            z-index: 101;
            background-color: rgb(174, 174, 174);
            border-radius: 15px;
            box-shadow: 0 0 20px black;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }

        #prod_modal_label {
            font-size: 24px;
            margin-bottom: 10px;
            color: black;
        }

        .option-button {
            width: 140px;
            height: 50px;
            background-color: black;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 1.5px;
        }

    }


    .xbutton {
        display: none;

        &.active {
            display: block;
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            bottom: 10px;
            width: 40px;
            height: 40px;
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 50%;
            z-index: 100;
            box-shadow: inset 0 0 10px white, 0 0 10px white;
        }
    }


    .input-wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        #inp_prod {
            height: 40px;
            border-radius: 15px;
            text-align: center;
            margin-right: 15px;
            min-width: 200px;
            font-size: 1.3em;
        }

        #btn_submit {
          height: 43px;
          border-radius: 15px;
          background-color: $color-black;
          color: white;
        }

    }
}
