.modal {
    position: fixed;
    top: 100%;
    transition: all .8s ease;

    &.active {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        background-color: $color-modal-background;
        z-index: 100;
        border-radius: 20px;
        margin: 0 auto;
        //animation: blend_in_modal .4s ease ;

    }



    .xbutton {
        display: none;

        &.active {
            display: block;
            position: fixed;
            right: 20px;
            top: 20px;
            width: 40px;
            height: 40px;
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 50%;
            box-shadow: inset 0 0 10px white, 0 0 10px white;
        }
    }


    .input-wrapper {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        #inp_prod {
            height: 40px;
            border-radius: 15px;
            text-align: center;
            margin-right: 15px;
            min-width: 200px;
            font-size: 1.3em;
        }

        #btn_submit {
          height: 43px;  
          border-radius: 15px;
          background-color: $color-black;
          color: white;
        }

    }
}

@keyframes blend_in_modal {
    0% {
        top: 100%;
        width: 0vw;
        background-color: white;
    }

    50% {
        width: 20vw;
    }

    100% {
        top: 0;
        width: 100vw;
    }
}