/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
:root {
  --style-open1: tomato;
  --style-open2: #137b86;
  --style-open3: rgb(155, 39, 4);
  --style-open4: rgb(23, 25, 89);
  --style-open5: radial-gradient(green, black);
  --style-open6: radial-gradient(black, rgb(55, 55, 55));
  --style-open7: radial-gradient(tomato, transparent);
  --style-open8: radial-gradient(blue, rgb(55, 55, 55));
  --style-open9: radial-gradient(rgb(10, 55, 54), rgb(11, 141, 128));
  --style-open10: linear-gradient(to top, black, gray);
  --style-open11: linear-gradient(to top, black, teal);
  --style-open12: linear-gradient(to top, black, tomato);
  --MainTheme: var(--style-open3);
}

h1 {
  font-size: 6vw;
}
@media (min-width: 1600px) {
  h1 {
    font-size: 4em;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat 12, 1fr;
  gap: 30px;
  max-width: 1400px;
}

.center {
  margin: 0 auto;
  max-width: 1400px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5em;
  scroll-behavior: smooth;
  background-color: rgb(33, 31, 31);
  color: white;
  text-align: center;
}

.filter-wrapper {
  display: flex;
  gap: 7px 12px;
  justify-content: flex-end;
  padding-right: 20px;
}

.filter-label {
  text-align: right;
  padding-right: 78px;
  margin-bottom: 0;
  font-size: 12px;
}

.weekly-button {
  background-color: black;
  width: fit-content;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 8px;
  font-size: 12px;
  letter-spacing: 2.5px;
  box-shadow: inset 0 0 20px white;
  border: 1px solid white;
  display: none;
  cursor: pointer;
}
.weekly-button.active {
  display: block;
}

.settings-button {
  position: fixed;
  top: 15px;
  left: 15px;
}

.filter-button {
  background-color: black;
  width: fit-content;
  padding: 5px 8px;
  border-radius: 5px;
  color: mediumturquoise;
}

.list-wrapper {
  margin: 20px auto 10px auto;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  max-height: 60vh;
  padding: 10px;
  z-index: 1;
}
.list-wrapper .product {
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  background-color: gray;
  margin: 2px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  border-radius: 8px;
  padding: 3px 3px 10px 3px;
  overflow: hidden;
  line-break: strict;
  position: relative;
  transition: all 0.4s ease;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.28);
}
.list-wrapper .product .product-name-div {
  width: 120px;
  height: 80px;
  overflow-y: scroll;
  border-top: 1px solid rgba(211, 211, 211, 0.2);
  hyphens: auto;
}
.list-wrapper .product .add-remove-button {
  position: absolute;
  bottom: -10px;
  left: -35px;
  width: 95px;
  height: 50px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.431);
  font-size: 1.5rem;
  transform: rotate(45deg);
}
.list-wrapper .product .add-remove-button::after {
  content: "+ -";
  transform: rotate(-45deg);
  padding-left: 10px;
  padding-bottom: 10px;
}
.list-wrapper .product .amount-label {
  position: absolute;
  top: -10px;
  left: 15px;
  height: 20px;
  width: fit-content;
  border-radius: 10px;
  font-size: 12px;
  padding: 2px 5px;
  box-shadow: inset 0 0 3px white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}
.list-wrapper .product .amount-label.bigger-label {
  width: fit-content;
  border-radius: 8px;
}
.list-wrapper .product .amount-label.extra-amount {
  background-color: orange;
  color: black;
}
.list-wrapper .product .tile-edit-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  width: fit-content;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: inset 0 0 5px white;
}
.list-wrapper .product.on-list {
  background: var(--MainTheme);
}
.list-wrapper .product.item-open {
  background: var(--MainTheme);
}

.button-del {
  position: fixed;
  bottom: 20px;
  left: 5px;
  width: fit-content;
  min-height: 20px;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(139, 21, 21);
  font-size: 3vw;
  cursor: pointer;
}
@media (min-width: 1600px) {
  .button-del {
    font-size: 2em;
  }
}

.shopping-sum {
  color: red;
  font-size: 7vw;
}
@media (min-width: 1600px) {
  .shopping-sum {
    font-size: 4em;
  }
}

.list-button {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  color: white;
  padding: 8px;
  background-color: rgb(33, 31, 31);
  box-shadow: 0 0 8px white, inset 0 0 3px white;
  border-radius: 15px;
  z-index: 10;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 100%;
  transition: all 0.5s ease;
}
.modal.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(55, 57, 61);
  z-index: 100;
  border-radius: 20px;
  margin: 0 auto;
}
.modal #btn_delete_product {
  background-color: red;
  color: white;
  cursor: pointer;
}
.modal.modal-small {
  left: -500%;
}
.modal.modal-small.active-mini {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 80vw;
  z-index: 101;
  background-color: rgba(26, 76, 92, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 0 20px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.348);
}
.modal.modal-small .wrapper {
  display: flex;
}
.modal.modal-small .wrapper .round-button {
  width: 30px;
  padding: 10px;
  border-radius: 50%;
  height: 30px;
}
.modal.modal-small .wrapper #lbl_current_amount {
  margin: 0 8px;
}
.modal.modal-small #prod_modal_label {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}
.modal.modal-small .option-button {
  width: 170px;
  height: 50px;
  background-color: black;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2.2px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.558);
  cursor: pointer;
}
.modal#edit_modal {
  z-index: 102;
  /* Rounded sliders */
}
.modal#edit_modal .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.modal#edit_modal .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.modal#edit_modal .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.modal#edit_modal .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(37, 36, 36);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.modal#edit_modal input:checked + .slider {
  background-color: #33f321;
}
.modal#edit_modal input:focus + .slider {
  box-shadow: 0 0 1px #33f321;
}
.modal#edit_modal input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.modal#edit_modal .slider.ckround {
  border-radius: 34px;
}
.modal#edit_modal .slider.ckround:before {
  border-radius: 50%;
}
.modal#weeklyShopping_modal .scrollview {
  height: 70vh;
  overflow-y: scroll;
  margin-top: 15px;
}
.modal#weeklyShopping_modal .scrollview .select-item {
  padding: 15px 0;
  border: 1px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: clip;
}
.modal#weeklyShopping_modal .scrollview .select-item input {
  width: 20px;
  height: 20px;
  margin-right: 30px;
  margin-left: 50px;
}
.modal#weeklyShopping_modal .scrollview .select-item label {
  padding: 0 20px;
  width: 60%;
  cursor: pointer;
}
.modal#weeklyShopping_modal .save-button {
  background-color: rgb(33, 31, 31);
  width: fit-content;
  margin: 20px auto 0 auto;
  padding: 15px 30px;
  border-radius: 15px;
  letter-spacing: 1.7px;
  cursor: pointer;
}
.modal#setting_modal .xbutton2 {
  display: block;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  z-index: 103;
  box-shadow: inset 0 0 10px white, 0 0 10px white;
  cursor: pointer;
}
.modal#setting_modal .backup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 50px;
}
.modal#setting_modal .backup-wrapper input, .modal#setting_modal .backup-wrapper button {
  width: fit-content;
}
.modal#setting_modal .backup-wrapper #btn_importBackup {
  margin-top: 20px;
}
.modal#setting_modal .theme-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 15px;
  width: 100%;
  outline: 2px solid white;
}
.modal#setting_modal .theme-wrapper .theme-item {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background-color: gray;
  margin: 2px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  border-radius: 8px;
  padding: 3px 3px 10px 3px;
  overflow: hidden;
  line-break: strict;
  position: relative;
  transition: all 0.4s ease;
  cursor: pointer;
}
.modal#setting_modal .theme-wrapper .theme-item.theme-1 {
  background: var(--style-open1);
}
.modal#setting_modal .theme-wrapper .theme-item.theme-2 {
  background: var(--style-open2);
}
.modal#setting_modal .theme-wrapper .theme-item.theme-3 {
  background: var(--style-open3);
}
.modal#setting_modal .theme-wrapper .theme-item.theme-4 {
  background: var(--style-open4);
}
.modal#setting_modal .theme-wrapper .theme-item.theme-5 {
  background: var(--style-open5);
}
.modal#setting_modal .theme-wrapper .theme-item.theme-6 {
  background: var(--style-open6);
}
.modal#setting_modal .theme-wrapper .theme-item.theme-7 {
  background: var(--style-open7);
}
.modal#setting_modal .theme-wrapper .theme-item.theme-8 {
  background: var(--style-open8);
}
.modal#setting_modal .theme-wrapper .theme-item.theme-9 {
  background: var(--style-open9);
}
.modal#setting_modal .theme-wrapper .theme-item.theme-10 {
  background: var(--style-open10);
}
.modal#setting_modal .theme-wrapper .theme-item.theme-11 {
  background: var(--style-open11);
}
.modal#setting_modal .theme-wrapper .theme-item.theme-12 {
  background: var(--style-open12);
}
.modal#setting_modal .theme-wrapper .theme-item.selected {
  outline: 3px solid white;
}
.modal .xbutton {
  display: none;
}
.modal .xbutton.active {
  display: block;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  z-index: 103;
  box-shadow: inset 0 0 10px white, 0 0 10px white;
  cursor: pointer;
}
.modal .input-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .input-wrapper label {
  margin-right: 20px;
}
.modal .input-wrapper .input-field {
  height: 40px;
  border-radius: 15px;
  text-align: center;
  margin-right: 15px;
  min-width: 200px;
  font-size: 1.3em;
}
.modal .input-wrapper .submit-button {
  height: 43px;
  border-radius: 15px;
  background-color: rgb(33, 31, 31);
  color: white;
  cursor: pointer;
}

#lbl_products_info {
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  font-size: 10px;
}
