/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
h1 {
  font-size: 6vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat 12, 1fr;
  gap: 30px;
  max-width: 1400px;
}

.center {
  margin: 0 auto;
  max-width: 1400px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5em;
  scroll-behavior: smooth;
  background-color: rgb(33, 31, 31);
  color: white;
  text-align: center;
}

.list-wrapper {
  margin: 20px auto 10px auto;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  max-height: 60vh;
  padding: 10px;
  z-index: 1;
}
.list-wrapper .product {
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  background-color: gray;
  margin: 2px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  border-radius: 8px;
  padding: 3px 3px 20px 3px;
  overflow: hidden;
  line-break: strict;
  position: relative;
  transition: all 0.4s ease;
}
.list-wrapper .product .amount-label {
  position: absolute;
  top: -10px;
  left: 15px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 16px;
  padding: 3px 5px;
  box-shadow: inset 0 0 3px white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}
.list-wrapper .product .amount-label.bigger-label {
  width: fit-content;
  border-radius: 8px;
  font-size: 12px;
}
.list-wrapper .product.on-list {
  background-color: tomato;
}
.list-wrapper .product.item-open {
  background-color: tomato;
}

.button-del {
  position: fixed;
  bottom: 20px;
  left: 5px;
  width: fit-content;
  height: 20px;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(139, 21, 21);
  font-size: 3vw;
}

.shopping-sum {
  color: red;
  font-size: 7vw;
}

.list-button {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  color: white;
  padding: 8px;
  background-color: rgb(33, 31, 31);
  box-shadow: 0 0 8px white, inset 0 0 3px white;
  border-radius: 15px;
  z-index: 10;
}

.modal {
  position: fixed;
  top: 100%;
  transition: all 0.5s ease;
}
.modal.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(55, 57, 61);
  z-index: 100;
  border-radius: 20px;
  margin: 0 auto;
}
.modal #btn_delete_product {
  background-color: red;
  color: white;
}
.modal.modal-small {
  left: -500%;
}
.modal.modal-small.active-mini {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 70vw;
  z-index: 101;
  background-color: rgb(174, 174, 174);
  border-radius: 15px;
  box-shadow: 0 0 20px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal.modal-small #prod_modal_label {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}
.modal.modal-small .option-button {
  width: 140px;
  height: 50px;
  background-color: black;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
}
.modal#edit_modal {
  z-index: 102;
}
.modal .xbutton {
  display: none;
}
.modal .xbutton.active {
  display: block;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  z-index: 103;
  box-shadow: inset 0 0 10px white, 0 0 10px white;
}
.modal .input-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .input-wrapper label {
  margin-right: 20px;
}
.modal .input-wrapper .input-field {
  height: 40px;
  border-radius: 15px;
  text-align: center;
  margin-right: 15px;
  min-width: 200px;
  font-size: 1.3em;
}
.modal .input-wrapper .submit-button {
  height: 43px;
  border-radius: 15px;
  background-color: rgb(33, 31, 31);
  color: white;
}
