/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
.grid {
  display: grid;
  grid-template-columns: repeat 12, 1fr;
  gap: 30px;
  max-width: 1400px;
}

.center {
  margin: 0 auto;
  max-width: 1400px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5em;
  scroll-behavior: smooth;
  background-color: rgba(0, 0, 0, 0.874);
  color: white;
  text-align: center;
}

.list-wrapper {
  margin: 0 auto;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  max-height: 70vh;
  padding-top: 30px;
  padding-bottom: 30px;
}
.list-wrapper .product {
  width: 120px;
  height: 120px;
  background-color: tomato;
  margin: 2px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  padding: 3px;
  overflow: hidden;
  word-break: break-all;
}

.shopping-sum {
  color: red;
  font-size: 2em;
}
