$color-black: rgb(33, 31, 31);
$color-modal-background: rgb(55, 57, 61);

:root {
    --style1-open: tomato;
    --style2-open: #137b86;
    --style3-open: rgb(155, 39, 4);
    --style4-open: rgb(23, 25, 89);
    --style5-open: radial-gradient(green, black);
    --style6-open: radial-gradient(black, rgb(55, 55, 55));
    --style7-open: radial-gradient(tomato, transparent);
    --style8-open: radial-gradient(blue, rgb(55, 55, 55));
    --style9-open: radial-gradient(rgb(186, 186, 186), rgb(55, 55, 55));;
}